<launch>
    <node pkg="cam_node"  type="cam_node"  name="detector"  output="screen" args="-d /workspace/tensorrtx/yolov5/build/yolov5s.engine /workspace/tensorrtx/yolov5/samples/"></node>
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find cam_node)/rviz/yolo_ros_trt_docker.rviz"/> -->
    <!-- <node pkg="rosbag" type="play" name="player" output="screen" args="/home/eagleflag/Downloads/Dataset/demo_rosbag.bag"/> -->
</launch>
